.e-schedule-toolbar {
    // Theme contract
    --schedule-toolbar-local-gap: var(--e-schedule-toolbar-gap);
    --schedule-toolbar-local-radius: var(--e-schedule-border-radius);
    --schedule-toolbar-local-select-view-max-width: 12rem;

    height: auto;
    margin-bottom: 0;
    border-top-left-radius: var(--schedule-toolbar-local-radius);
    border-top-right-radius: var(--schedule-toolbar-local-radius);

    // Layout
    .e-bar__content {
        gap: var(--schedule-toolbar-local-gap);
    }

    // Controls
    &__select-view {
        --e-field-max-width: var(--schedule-toolbar-local-select-view-max-width);
    }

    &__pager {
        align-items: center;
        display: flex;

        &-label {
            margin-inline: var(--schedule-toolbar-local-gap);
        }
    }
    .e-field{
        flex: 1;
    }
}