.e-checkbox-field {
    --e-icon-color: var(--e-field-color);

    label {
        flex-grow: 1;
    }


    &--active {
        .e-field__selection-control {
            color: var(--e-field-color, currentColor);
        }
    }
}