@use '~/public/styles/_mixins.scss' as *;

.e-checkbox-field {
    --e-icon-color: var(--e-field-color);

    .e-field__frame {
        flex-direction: row-reverse;
    }

    .e-label {
        flex: 1 1 auto;
    }

    &__slot {
        flex: 0;
    }

}