.e-select {
  --local-field-line-z-index: 9;
  --e-chip-height-default: var(--e-field-chip-height);

  .flip-icon {
    transition: transform 0.3s ease;
  }

  &__selections {
    align-self: center;
    align-items: center;
    color: var(--e-field-select-selection-color, var(--e-contrast-surface-1, rgba(0, 0, 0, 0.87)));
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    grid-area: field;
    max-width: 100%;
    min-height: 10px;
    min-width: 0;
    position: relative;
    width: 100%;
  }

  &__selection {
    max-width: 100%;
    padding: 0;

    &--text {
      min-width: 0;
      width: 100%;
    }

    &-placeholder {
      color: var(--e-field-placeholder-color, var(--input-placeholder));
    }
  }

  &__selection-text {
    display: block;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__input {
    caret-color: currentColor;
    flex: 0 0 auto;
    max-width: 0;
    min-width: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
  }

  &--multiple,
  &--autocomplete {
    .e-select__selection {
      display: block;
      padding: 0;

      &--text {
        flex: 1 1 auto;
      }
    }

    .e-select__selections {
      gap: 0.25rem;
      height: 100%;
    }
  }

  &--autocomplete {
    .e-select__input[aria-readonly="false"] {

      &:focus,
      &:focus-visible {
         flex: 1 1 auto;
        max-width: unset;
        min-width: min(50%, 30rem);
        pointer-events: all;
        position: relative;
        padding: calc(var(--e-field-line));
      }
    }

    &.e-select--open {
      .e-select__input[aria-readonly="false"] {
        flex: 1 1 auto;
        max-width: unset;
        min-width: min(50%, 30rem);
        pointer-events: all;
        position: relative;
        padding: calc(var(--e-field-line));
      }
    }
  }

  .e-progress-linear {
    --e-progress-linear-height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 9;
  }

  &--loading {
    pointer-events: none;

    .e-field__line {
      opacity: 0.1;
    }
  }

  &--open {
    z-index: 3;

    .flip-icon {
      transform: rotate(180deg);
    }

    .e-field__line {
      z-index: var(--local-field-line-z-index);
    }
  }

  &.e-field--dense {
    --e-chip-height-default: var(--e-field-chip-height-dense);
  }
}

.e-select__menu {
  background-color: var(--e-color-surface-1, #ffffff);
  max-height: 304px;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}