@use '~/public/styles/_mixins.scss' as *;

$button-sizes: x-small, small, default, large, x-large;

@mixin button-size-variant($size) {
  &--size-#{$size} {
    --btn-font-size: var(--e-btn-font-size-#{$size});
    --btn-height: var(--e-btn-height-#{$size});

    &.e-btn--icon {
      --btn-font-size: var(--e-icon-size-#{$size});
    }

    &.e-btn--fab {
      --btn-height: var(--e-fab-height-#{$size});
      --btn-font-size: var(--e-fab-font-size-#{$size});
    }

    &.e-btn--stacked {
      --btn-height: var(--e-stacked-height-#{$size});
    }
  }
}

.e-btn {
  // Theme contract
  --button-local-height: var(--btn-height, unset);
  --button-local-height-responsive: var(--btn-height-responsive, var(--btn-height, unset));
  --button-local-font-size: var(--btn-font-size, inherit);
  --button-local-font-weight: var(--e-btn-font-weight, 500);
  --button-local-letter-spacing: var(--e-btn-letter-spacing, 0.089em);
  --button-local-text-transform: var(--e-btn-text-transform, uppercase);
  --button-local-transition-duration: var(--e-btn-transition-duration, 0.28s);
  --button-local-radius: var(--e-btn-border-radius, 4px);
  --button-local-rounded-radius: var(--e-btn-rounded-border-radius, 28px);
  --button-local-font-family: var(--e-root-font-family, inherit);
  --button-local-bg: var(--e-btn-color);
  --button-local-text: var(--e-btn-contrast-color);
  --button-local-state-focus: var(--e-btn-state-focus, 0.12);
  --button-local-state-hover: var(--e-btn-state-hover, 0.08);
  --button-local-state-active: var(--e-btn-state-active, 0.12);
  --button-local-border-width: var(--e-btn-border-width, 1px);
  --button-local-border-style: var(--e-btn-border-style, solid);
  --button-local-default-elevation: var(--e-btn-elevation,
      var(--e-elevation-sm,
        0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12)));
  --button-local-inline-gap: 0.5rem;
  --button-local-stacked-gap: 0.25rem;

  height: var(--button-local-height);
  font-size: var(--button-local-font-size);
  font-weight: var(--button-local-font-weight);
  letter-spacing: var(--button-local-letter-spacing);
  text-indent: var(--button-local-letter-spacing);
  text-transform: var(--button-local-text-transform);
  transition-duration: var(--button-local-transition-duration);
  border-radius: var(--button-local-radius);
  font-family: var(--button-local-font-family);
  color: var(--button-local-text);
  background-color: var(--button-local-bg);
  border-color: var(--button-local-bg);

  @include button-reset();
  @include prefix(user-select, none);
  @include button-before($interactive: true);

  // Shell
  +.e-btn {
    margin-left: var(--e-space-base, 4px);
  }

  .e-icon__svg {
    fill: currentColor;
  }

  &__content {
    line-height: initial;
    flex-direction: column;
  }

  &::before {
    z-index: 0;
  }

  .v-ripple {
    z-index: 0;
  }

  &__loader,
  &__prepend,
  &__content,
  &__append {
    position: relative;
    z-index: 1;
  }

  &.e-btn {

    &--icon,
    &--fab {
      padding: 0;
      min-width: 0;
      border-radius: 50%;
    }
  }

  // Variants
  &--rounded {
    border-radius: var(--button-local-rounded-radius);
  }

  &--elevated {
    box-shadow: var(--button-local-default-elevation);
  }

  &--disabled,
  &--text {
    box-shadow: none;
  }

  &--focused:not(.e-btn--disabled):not(.e-btn--loading) {
    outline: 2px solid var(--e-btn-bg);
    outline-offset: 2px;
  }

  &--text {
    background-color: transparent;
    color: var(--button-local-bg);
  }

  &--block {
    &:not(.e-btn--fab):not(.e-btn--icon) {
      display: flex;
      flex: 1 0 auto;
      min-width: 100% !important;
    }
  }

  &__prepend {
    margin-right: var(--button-local-inline-gap);
  }

  &__append {
    margin-left: var(--button-local-inline-gap);
  }

  &--stacked {
    flex-direction: column;

    .e-btn {
      &__prepend {
        margin: 0 0 var(--button-local-stacked-gap) 0;
      }

      &__append {
        margin: var(--button-local-stacked-gap) 0 0 0;
      }
    }
  }

  // Icon-like variants

  &--icon {
    color: var(--button-local-text);
    background-color: transparent;
    padding: 0;
    width: var(--button-local-height);
  }

  &--fab {
    border-radius: 100%;
    width: var(--btn-height, unset);
  }

  &--fab,
  &--icon {
    width: var(--button-local-height-responsive);

    .e-btn__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--loading {
    pointer-events: none;

    .e-btn {
      &__content,
      &__append,
      &__prepend {
        opacity: 0;
      }
    }
  }

  // Sizes

  @each $size in $button-sizes {
    @include button-size-variant($size);
  }

  &__loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // State variants

  &--disabled {
    --e-btn-bg: var(--e-color-disabled, rgba(0, 0, 0, 0.38));
    --e-btn-text: var(--e-contrast-disabled, white);
    pointer-events: none;
    cursor: not-allowed;
  }

  &--outlined {
    border: var(--button-local-border-width) var(--button-local-border-style);
    background-color: unset;
    color: var(--button-local-bg);
    border-color: currentColor;
  }

  &--use-contrast-color {
    color: var(--button-local-text);
  }
}