@use '~/public/styles/_mixins.scss' as *;

.e-expansion {
  &-panels {
    width: 100%;
    flex: 1 1 auto;

    .e-expansion-panel {
      --panel-border-radius: 0px;

      &:first-child {
        border-top-left-radius: var(--e-expansion-panel-border-radius, 4px);
        border-top-right-radius: var(--e-expansion-panel-border-radius, 4px);
      }

      &:last-child {
        border-bottom-left-radius: var(--e-expansion-panel-border-radius, 4px);
        border-bottom-right-radius: var(--e-expansion-panel-border-radius, 4px);
      }
    }

    &--default {
      .e-expansion-panel {
        &--opened {
          --panel-border-radius: var(--e-expansion-panel-border-radius, 4px);

          &:not(:first-child),
          +.e-expansion-panel {
            --panel-space-base: var(--e-expansion-panel-gap, 8px);
          }

          +.e-expansion-panel {
            border-top-left-radius: var(--e-expansion-panel-border-radius, 4px);
            border-top-right-radius: var(--e-expansion-panel-border-radius, 4px);
          }
        }

        &:has(+.e-expansion-panel--opened) {
          border-bottom-left-radius: var(--e-expansion-panel-border-radius, 4px);
          border-bottom-right-radius: var(--e-expansion-panel-border-radius, 4px);
        }
      }
    }
  }

  &-panel {
    --panel-border-radius: var(--e-expansion-panel-border-radius, 4px);
    --panel-space-base: 0px;
    --panel-header-height: var(--e-expansion-header-height, 2.5rem);
    --panel-inline-padding: calc(var(--e-space-base, 4px) * 3);
    --panel-body-padding-inline: calc(var(--e-space-base, 4px) * 3);
    --panel-body-padding-bottom: calc(var(--e-space-base, 4px) * 2);
    --panel-margin-transition: margin-top 0.3s ease;
    --panel-content-transition: height 0.3s ease;
    --panel-icon-transition: transform 0.5s ease;

    border-top: var(--e-expansion-panel-border-width, thin) solid var(--e-color-border, rgb(0, 0, 0));
    background-color: var(--e-expansion-panel-background-color, var(--e-color-surface-1, #ffffff));
    color: var(--e-expansion-panel-color, var(--e-contrast-surface-1, #000000));
    margin-top: var(--panel-space-base);
    border-radius: var(--panel-border-radius);
    width: 100%;
    transition: var(--panel-margin-transition);
    overflow: hidden;

    &--disabled {
      .e-expansion-panel__header {
        background-color: var(--e-color-disabled, rgba(0, 0, 0, 0.38));
        color: var(--e-contrast-disabled, #ffffff);
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;
      user-select: none;
      position: relative;
      padding: 0;

      &-button {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        text-transform: uppercase;
        color: var(--e-expansion-panel-button-color, var(--e-contrast-surface-1, #000000));
        background-color: var(--e-expansion-panel-button-background-color, var(--e-color-surface-1, #ffffff));
        font-size: var(--e-expansion-header-font-size, 0.875rem);
        padding: 0 var(--panel-inline-padding);
        @include prefix(user-select, none);
        @include button-reset();
        @include button-before($interactive: true);

        &-content {
          transition: var(--panel-content-transition);
          flex: 1 1 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: var(--panel-header-height);
        }

        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            transition: var(--panel-icon-transition);
            display: flex;
          }

          svg {
            fill: currentColor;
          }
        }
      }

      &-actions {
        height: 100%;

        >* {
          height: var(--panel-header-height);
        }
      }

    }

    &__body {
      padding-top: 0;

      &-content-wrapper {
        padding: var(--e-space-base, 4px) var(--panel-body-padding-inline) var(--panel-body-padding-bottom);
      }

      &-content {
        .e-expansion__body-content {
          margin-bottom: 24px;
        }
      }
    }

    &--opened {
      --e-expansion-header-height: var(--e-expansion-header-height-opened, 3.25rem);

      &:not(.e-expansion-panel--disable-icon-rotation) {
        .e-expansion-panel__header-button-icon i {
          transform: rotate(180deg);
        }
      }
    }
  }
}