@use '~/public/styles/override/variables/index' as *;

.e-row {
  margin: -$space-base;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;

  &.no-gutters {
    margin: 0;

    &>.e-col,
    &>[class*="e-col-"] {
      padding: 0;
    }
  }
}