@use '~/public/styles/_mixins.scss' as *;

.e-switch-field {
  --track-width: var(--e-switch-track-width);
  --track-height: var(--e-switch-track-height);
  --thumb-height: var(--e-switch-thumb-height);
  --control-size: calc(var(--track-width) + var(--e-space-base, 4px));

  --thumb-offset: calc(var(--track-width) - var(--track-height));
  --switch-color: var(--e-field-color, currentColor);
  --switch-thumb-background: var(--e-color-surface-3);


  &__slot {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0;
  }


  &--active {
    --switch-thumb-transform: translate(var(--thumb-offset));
    --switch-thumb-background: var(--switch-color);
  }

  .e-label {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__thumb {
    transform: var(--switch-thumb-transform, unset) !important;
    background-color: var(--switch-thumb-background);
    border-radius: 50%;
    top: calc(50% - var(--thumb-height) / 2);
    height: var(--thumb-height);
    position: relative;
    width: var(--thumb-height);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    transition: .15s .05s transform cubic-bezier(0, 0, .2, 1), .2s color cubic-bezier(.4, 0, .2, 1), .2s background-color cubic-bezier(.4, 0, .2, 1)
  }

  &__track {
    background-color: var(--switch-color);
    border-radius: 9999px;
    opacity: 0.5;
    width: var(--track-width);
    height: var(--track-height);
    left: calc((var(--control-size) - var(--track-width)) / 2);
    position: absolute;
    right: auto;
    top: calc(50% - var(--track-height) / 2);
  }

  &--loading {

    --field-control-ripple-display: none;
  }

  .e-field__control-visual {
    justify-content: unset;
    align-items: unset;
  }
}