@use "sass:map";
@use "../variables/index.scss" as setting;

.e-avatar {
    &__container {
        --avatar-size: var(--e-avatar-size-default, #{map.get(setting.$avatar-size, "default")});

        width: var(--avatar-size);
        height: var(--avatar-size);

        @each $key, $value in setting.$avatar-size {
            &--size-#{$key} {
                --avatar-size: var(--e-avatar-size-#{$key}, #{$value});
            }
        }

        .e-icon {
            --e-icon-size-default: calc(var(--avatar-size) * 0.6);
        }
    }
}