@use "sass:map";
@use "../variables/index.scss" as setting;

.e-bar {
  margin-bottom: calc(var(--e-space-base, #{setting.$space-base}) * 4);
  box-shadow: var(--e-bar-box-shadow, #{setting.$e-bar-box-shadow});
  height: var(--e-bar-height, #{setting.$e-bar-height});
  background-color: var(--e-color-surface-1);
  color: var(--e-contrast-surface-1);

  .e-bar__content {
    padding: var(--e-bar-padding-y, #{setting.$e-bar-padding-y}) var(--e-bar-padding-x, #{setting.$e-bar-padding-x});
  }

  &--dense {
    &.e-bar {
      height: var(--e-bar-height-dense, #{setting.$e-bar-height-dense});
    }
  }

  @each $key, $value in setting.$colors-light {
    &.#{$key}>* {
      color: var(--e-contrast-#{$key}, white);
      // &--outlined {
      //   border-color: map-get($contrast-colors, $key )
      // }
    }
  }
}