@use "sass:map";
@use "../variables/index.scss" as setting;

.e-bar {
  margin-bottom: setting.$space-base * 4;
  box-shadow: setting.$e-bar-box-shadow;
  height: setting.$e-bar-heigth;

  .e-bar__content {
    padding: setting.$e-bar-padding-y setting.$e-bar-padding-x;
  }

  &--dense {
    &.e-bar {
      height: setting.$e-bar-heigth--dense;
    }
  }

  @each $key, $value in setting.$colors {
    &.#{$key}>* {
      color: map.get(setting.$contrast-colors, $key) or white;
      // &--outlined {
      //   border-color: map-get($contrast-colors, $key )
      // }
    }
  }
}