@use "sass:map";
@use "../variables/index.scss" as setting;

.e-btn {
  font-weight: setting.$btn-font-weight;
  letter-spacing: setting.$btn-letter-spacing;
  color: map.get(setting.$colors, "black");
  border-color: map.get(setting.$colors, "black");
  text-indent: setting.$btn-letter-spacing;
  text-transform: setting.$btn-text-transform;
  transition-duration: setting.$btn-transition-duration;
  border-radius: setting.$btn-border-radius;
  font-family: setting.$root-font-family;

  +.e-btn {
    margin-left: setting.$space-base;
  }

  &--rounded {
    border-radius: setting.$btn-rounded-border-radius;
  }

  &--text {
    @each $key, $value in setting.$colors {
      &.e-btn--#{$key} {
        color: $value;
        background-color: transparent;
      }
    }
  }

  @each $key, $value in setting.$colors {
    &--#{$key} {
      color: map.get(setting.$contrast-colors, $key) or white;
      background-color: $value;

      &.e-btn--icon {
        color: $value;
        background-color: transparent;
      }
    }
  }

  @each $key, $value in setting.$btn-states {
    &:#{$key}:before {
      opacity: $value;
    }
  }

  @each $key, $value in setting.$btn-font-sizes {
    &--size-#{$key} {
      --btn-font-size: #{$value};
      --btn-height: #{map.get(setting.$btn-height, $key)};

      &.e-btn--icon {
        --btn-font-size: #{map.get(setting.$icon-font-sizes, $key)};
      }

      &.e-btn--fab {
        --btn-height: #{map.get(setting.$fab-height, $key)};
        --btn-font-size: #{map.get(setting.$fab-font-sizes, $key)};
      }

      &.e-btn--stacked {
        --btn-height: #{map.get(setting.$stacked-height, $key)};
      }
    }
  }

  &--outlined {
    border: setting.$btn-border-width setting.$btn-border-style;

    @each $key, $value in setting.$colors {
      &.e-btn--#{$key}:not(.e-btn--disabled) {
        border-color: $value;
        color: $value;
      }
    }

    background-color: transparent;
  }

  &--disabled {
    color: map.get(setting.$contrast-colors, "disabled") or white;
    background-color: map.get(setting.$colors, "disabled");
  }
}