@use "../variables/index.scss" as setting;

.e-card {
  border-radius: setting.$border-radius-root;

  &__container {
    padding: setting.$space-base;
  }

  &__footer {
    &-content {
      padding: setting.$space-base;
    }
  }

  &>.e-avatar {
    &__wrapper {
      padding: setting.$space-base;
    }
  }
}