@use "../variables/index.scss" as setting;

.e-card {
  border-radius: var(--e-border-radius-root, #{setting.$border-radius-root});
  background-color: var(--e-color-surface-1);
  color: var(--e-contrast-surface-1);

  &__container {
    padding: var(--e-space-base, #{setting.$space-base});
  }

  &__footer {
    &-content {
      padding: var(--e-space-base, #{setting.$space-base});
    }
  }

  &>.e-avatar {
    &__wrapper {
      padding: var(--e-space-base, #{setting.$space-base});
    }
  }
}