@use "sass:map";
@use "../variables/index.scss" as setting;

.e-chip {
  font-size: var(--e-chip-font-size, 0.875rem);
  height: var(--e-chip-height, 32px);
  padding: 0;
  --e-chip-content-padding-start: var(--e-chip-content-padding-x, 12px);
  --e-chip-content-padding-end: var(--e-chip-content-padding-x, 12px);

  +.e-chip {
    margin-left: var(--e-space-base, #{setting.$space-base});
  }

  @each $key, $value in setting.$chip-font-sizes {
    &--size-#{$key} {
      --e-chip-font-size: var(--e-chip-font-size-#{$key}, #{$value});
      --e-chip-height: var(--e-chip-height-#{$key}, #{map.get(setting.$chip-height, $key)});
      --e-chip-content-padding-x: var(--e-chip-content-padding-x-#{$key}, #{map.get(setting.$chip-content-padding-x, $key)});
      --e-chip-edge-padding-x: var(--e-chip-edge-padding-x-#{$key}, #{map.get(setting.$chip-edge-padding-x, $key)});
      --e-chip-avatar-size: var(--e-chip-avatar-size-#{$key}, #{map.get(setting.$chip-avatar-size, $key)});
      --e-chip-icon-size: var(--e-chip-icon-size-#{$key}, #{map.get(setting.$chip-icon-size, $key)});
    }
  }

  &--has-prepend {
    --e-chip-content-padding-start: 0px;
  }

  &--has-prepend-avatar {
    .e-chip__prepend {
      padding-inline-start: 0;

      .e-avatar__container {
        --avatar-size: var(--e-chip-height);
      }
    }
  }

  &--has-append-avatar {
    .e-chip__append {
      padding-inline-end: 0;

      .e-avatar__container {
        --avatar-size: var(--e-chip-height);
      }
    }
  }

  &--has-append,
  &--has-close {
    --e-chip-content-padding-end: 0px;
  }

  &__content {
    padding-inline-start: var(--e-chip-content-padding-start);
    padding-inline-end: var(--e-chip-content-padding-end);
  }

  &__prepend {
    padding-inline-start: var(--e-chip-edge-padding-x, 7px);
  }

  &__append {
    padding-inline-end: var(--e-chip-edge-padding-x, 7px);
  }

  .e-avatar__container {
    --avatar-size: var(--e-chip-avatar-size);
  }

  .e-icon {
    --e-icon-size-default: var(--e-chip-icon-size, 24px);
  }

  &__close {
    button {
      height: var(--e-chip-height, 24px);
      width: var(--e-chip-height, 24px);
      background-color: transparent;
      color: inherit;

      i {
        font-size: var(--e-chip-icon-size, 24px);
      }
    }
  }
}