@use "../variables/index.scss" as setting;

// Colores y backgrounds personalizados para date-picker
.e-picker {
  &__title {
    color: var(--e-contrast-surface-1, #222);
  }

  &__body {
    background: var(--e-color-surface-1, #fff);
  }
}

.e-picker {
  --e-date-picker-border-radius: #{setting.$date-picker-border-radius};
  border-radius: var(--e-date-picker-border-radius);

  &__title {
    border-top-left-radius: var(--e-date-picker-border-radius);
    border-top-right-radius: var(--e-date-picker-border-radius);

  }
}