@use "sass:map";
@use "../variables/index.scss" as setting;

.e-expansion {

  &-panel {
    --panel-border-radius: var(--e-border-radius-root, #{setting.$border-radius-root});

    --panel-background-color: var(--e-color-surface-1, #{map.get(setting.$colors-light, "surface-1")});
    --panel-color: var(--e-contrast-surface-1);

    background-color: var(--panel-background-color);
    color: var(--panel-color);

    &--disabled {
      --panel-background-color: var(--e-color-disabled, #{map.get(setting.$colors-light, "disabled")});
      --panel-color: var(--e-contrast-disabled, white);
    }

    &--opened {
      --e-expansion-header-height: var(--e-expansion-header-height-opened, #{setting.$expansion-header-height-opened});

      &not:first-child,
      +.e-expansion-panel {
        margin-top: var(--e-space-base, #{setting.$space-base});
      }
    }

    &__header {
      &-actions {
        >* {
          height: var(--e-expansion-header-height, #{setting.$expansion-header-height});
        }
      }

      &-button {
        color: var(--panel-color);
        background-color: var(--panel-background-color);
        font-size: var(--e-expansion-header-font-size, #{setting.$expansion-header-font-size});
        padding: 0px calc(var(--e-space-base, #{setting.$space-base}) * 3);

        @each $key, $value in setting.$btn-states {
          &:#{$key}:before {
            opacity: var(--e-btn-state-#{$key}, #{$value});
          }
        }

        &-content {
          height: var(--e-expansion-header-height, #{setting.$expansion-header-height});
        }
      }
    }

    &__body-content-wrapper {
        padding: var(--e-space-base, #{setting.$space-base}) calc(var(--e-space-base, #{setting.$space-base}) * 3) calc(var(--e-space-base, #{setting.$space-base}) * 2) ;
      
    }

  }


}