@use "sass:map";
@use "../variables/index.scss" as setting;

.e-expansion {
  &-panels {
    .e-expansion-panel {
      --panel-border-radius: 0px;

      &:first-child {
        border-top-left-radius: var(--e-expansion-panel-border-radius);
        border-top-right-radius: var(--e-expansion-panel-border-radius);
      }

      &:last-child {
        border-bottom-left-radius: var(--e-expansion-panel-border-radius);
        border-bottom-right-radius: var(--e-expansion-panel-border-radius);
      }

    }

    &--default {
      .e-expansion-panel {

        &--opened {
          --panel-border-radius: var(--e-expansion-panel-border-radius);

          &:not(:first-child),
          +.e-expansion-panel {
            --panel-space-base: var(--e-expansion-panel-gap);
          }

          +.e-expansion-panel {
            border-top-left-radius: var(--e-expansion-panel-border-radius);
            border-top-right-radius: var(--e-expansion-panel-border-radius);
          }
        }

        &:has(+.e-expansion-panel--opened) {
          border-bottom-left-radius: var(--e-expansion-panel-border-radius);
          border-bottom-right-radius: var(--e-expansion-panel-border-radius);
        }
      }
    }
  }

  &-panel {
    --panel-border-radius: var(--e-expansion-panel-border-radius);
    --panel-space-base: 0px;

    border-top: var(--e-expansion-panel-border-width) solid var(--e-color-border, 0, 0, 0);
    background-color: var(--e-expansion-panel-background-color);
    color: var(--e-expansion-panel-color);
    margin-top: var(--panel-space-base);
    border-radius: var(--panel-border-radius);

    &--disabled {
      .e-expansion-panel__header {
        background-color: var(--e-color-disabled);
        color: var(--e-contrast-disabled, white);
      }
    }

    &--opened {
      --e-expansion-header-height: var(--e-expansion-header-height-opened);
    }

    &__header {
      &-actions {
        >* {
          height: var(--e-expansion-header-height);
        }
      }

      &-button {
        color: var(--panel-color);
        background-color: var(--panel-background-color);
        font-size: var(--e-expansion-header-font-size);
        padding: 0px calc(var(--e-space-base) * 3);

        @each $key, $value in setting.$btn-states {
          &:#{$key}:before {
            opacity: var(--e-btn-state-#{$key}, #{$value});
          }
        }

        &-content {
          height: var(--e-expansion-header-height);
        }
      }
    }

    &__body-content-wrapper {
      padding: var(--e-space-base) calc(var(--e-space-base) * 3) calc(var(--e-space-base) * 2);

    }

  }


}