@use "../variables/index.scss" as setting;

.e-expansion {
  box-shadow: var(--e-expansion-box-shadow, #{setting.$expansion-box-shadow});
  border-radius: var(--e-border-radius-root, #{setting.$border-radius-root});

  &-panels {
    box-shadow: var(--e-expansion-box-shadow, #{setting.$expansion-box-shadow});
    border-radius: var(--e-border-radius-root, #{setting.$border-radius-root});

    .e-expansion {
      border-radius: 0;

      &__header>.e-btn {
        border-radius: 0;
      }
    }
  }

  &__header {
    &-actions {
      >* {
        max-height: var(--e-expansion-header-height, #{setting.$expansion-header-height}) !important;
        min-height: var(--e-expansion-header-height, #{setting.$expansion-header-height}) !important;
        height: var(--e-expansion-header-height, #{setting.$expansion-header-height}) !important;
      }
    }

    i {
      font-size: var(--e-icon-expand-font-size, #{setting.$icon-expand-font-size});
    }

    &-content {
      max-height: var(--e-expansion-header-height, #{setting.$expansion-header-height});
      min-height: var(--e-expansion-header-height, #{setting.$expansion-header-height});
      height: var(--e-expansion-header-height, #{setting.$expansion-header-height});
    }
  }
}