.e-form {
  margin: -$space-base;

  & > .e-field {
    @include grid-generator();
  }

  &.no-gutters {
    & > .e-field {
      @include grid-generator(1px);
      padding: 0;
      margin: -0.5px;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
