@use "../../mixins";
@use "../variables/index.scss" as setting;

.e-form {
  margin: -(setting.$space-base);

  &>.e-field {
    @include mixins.grid-generator();
  }



  &.no-gutters>.e-field {
    @include mixins.grid-generator(1px);
  }

  &.no-gutters>.e-field {
    padding: 0;
    margin: -0.5px;
    max-width: 100%;
  }
}