@use "../variables/index.scss" as setting;

.e-icon {
  @each $key, $value in setting.$icon-font-sizes {
    &--size-#{$key} {
      font-size: $value;

      .e-icon__svg {
        height: $value;
        width: $value;
      }
    }
  }
}