@use "sass:map";
@use "../variables/index.scss" as setting;

.e-list {
  --root-indent: var(--e-space-base, #{setting.$space-base});
  --list-item-prepend-width: calc(var(--e-space-base, #{setting.$space-base}) + var(--e-list-prepend-width, #{setting.$list-prepend-width}));
  --padding-inline: var(--e-space-base, #{setting.$space-base});

  &-item {
    padding-inline: calc(var(--padding-inline, var(--e-space-base, #{setting.$space-base})) + var(--group-inline-padding, 0px));

    &__prepend {
      width: var(--list-item-prepend-width, calc(var(--e-space-base, #{setting.$space-base}) + var(--e-list-prepend-width, #{setting.$list-prepend-width})));
    }

    @each $key, $value in setting.$list-item-font-sizes {
      &--size-#{$key} {
        --list-item-font-size: var(--e-list-item-font-size-#{$key}, #{$value});
        --list-item-height: var(--e-list-item-height-#{$key}, #{map.get(setting.$list-item-height, $key)});
        --icon-font-size: var(--e-icon-size-#{$key}, #{map.get(setting.$icon-font-sizes, $key)});
      }
    }
  }

  &-group {
    &__content {
      --group-inline-padding: var(--e-space-base, #{setting.$space-base});
    }

    &:not(:last-child):not(:only-child) {
      margin-bottom: var(--e-space-base, #{setting.$space-base});
    }
  }

  &-group:has(> .e-list-item > .e-list-item__prepend) {
    .e-list-group__content {
      --padding-inline: calc(var(--list-item-prepend-width) + var(--root-indent));
    }
  }

  &:has(> .e-list-item > .e-list-item__prepend) {
    >.e-list-group:not(:has(> .e-list-item > .e-list-item__prepend)) {
      --padding-inline: calc(var(--root-indent) + var(--list-item-prepend-width));
    }

    >.e-list-item:not(:has(> .e-list-item__prepend)) {
      --padding-inline: calc(var(--root-indent) + var(--list-item-prepend-width));
    }
  }
}

.e-drawer {
  .e-list {
    padding-inline: calc(var(--e-space-base, #{setting.$space-base}) * 2);

    &-item {
      border-radius: var(--e-border-radius-root, #{setting.$border-radius-root});

      &:not(:only-child):not(:last-child) {
        margin-bottom: var(--e-space-base, #{setting.$space-base});
      }
    }
  }
}