@use "../../mixins";
@use "../variables/index.scss" as setting;

.e-schedule {

  padding-top: setting.$header-col-height;
  background: setting.$schedule-bg;

  &__body {
    min-width: calc(100% - setting.$hour-column-width);
  }

  &__event {
    &-container {
      color: setting.$schedule-bg;
    }
  }

  [role="cell"] {
    border-bottom: setting.$schedule-border-width solid setting.$schedule-border-color;

    &:not(:last-child) {
      border-bottom: setting.$schedule-border-width solid setting.$schedule-border-color;
    }
  }

  &__header {
    &[role="cell"] {
      &>span {
        height: calc(setting.$header-col-height + 10px);
        padding-top: 10px;
        background-color: setting.$schedule-bg;
      }
    }
  }

  div[role="col"] {
    background-color: setting.$schedule-bg;

    &:not(:last-child) {
      border-right: setting.$schedule-border-width solid setting.$schedule-border-color;
    }

    &.col-hour-info {
      max-width: setting.$hour-column-width;
      min-width: setting.$hour-column-width;
    }
  }

  &:has(.tab-reverse-transition-leave-active),
  &:has(.tab-transition-leave-active) {
    .e-schedule__body {
      top: setting.$header-col-height;
    }
  }

  @include mixins.xs {
    div[role="col"] {
      &.col-hour-info {
        max-width: setting.$hour-column-width-xs;
        min-width: setting.$hour-column-width-xs;
      }
    }

    &__body {
      min-width: calc(100% - setting.$hour-column-width-xs);
    }
  }

  @include mixins.xs {
    .e-schedule {
      &__header[role="cell"] [data-day-of-week="true"] {
        font-size: 11px;
        text-transform: capitalize;
      }

      &__empty-slot {
        &.e-btn {
          min-width: unset;
          padding: 0 4px;
          font-size: 12px;
        }
      }

      &-btn--day {
        width: 25px;
        height: 25px;
        font-size: 12px;
      }

      &__event-container {
        .event {
          &-name {
            overflow: hidden;
            font-size: 11px;
            line-height: 11px;
          }

          &-subtitle,
          &-footer {
            display: none;
          }
        }
      }
    }

    .hour-label {
      &:after {
        content: unset;
      }

      padding-right: 0;
    }
  }
}