@use "../../mixins";
@use "../variables/index.scss" as setting;

.e-schedule {

  padding-top: var(--e-header-col-height, #{setting.$header-col-height});
  background: var(--e-schedule-bg, white);

  &__body {
    min-width: calc(100% - var(--e-hour-column-width, #{setting.$hour-column-width}));
  }

  &__event {
    &-container {
      color: var(--e-schedule-bg, white);
    }
  }

  [role="cell"] {
    border-bottom: var(--e-schedule-borderwidth, #{setting.$e-schedule-borderwidth}) solid var(--e-schedule-border-color, rgb(218, 220, 224));

    &:not(:last-child) {
      border-bottom: var(--e-schedule-borderwidth, #{setting.$e-schedule-borderwidth}) solid var(--e-schedule-border-color, rgb(218, 220, 224));
    }
  }

  &__header {
    &[role="cell"] {
      &>span {
        height: calc(var(--e-header-col-height, #{setting.$header-col-height}) + 10px);
        padding-top: 10px;
        background-color: var(--e-schedule-bg, white);
      }
    }
  }

  div[role="col"] {
    background-color: var(--e-schedule-bg, white);

    &:not(:last-child) {
      border-right: var(--e-schedule-borderwidth, #{setting.$e-schedule-borderwidth}) solid var(--e-schedule-border-color, rgb(218, 220, 224));
    }

    &.col-hour-info {
      max-width: var(--e-hour-column-width, #{setting.$hour-column-width});
      min-width: var(--e-hour-column-width, #{setting.$hour-column-width});
    }
  }

  &:has(.tab-reverse-transition-leave-active),
  &:has(.tab-transition-leave-active) {
    .e-schedule__body {
      top: var(--e-header-col-height, #{setting.$header-col-height});
    }
  }

  @include mixins.xs {
    div[role="col"] {
      &.col-hour-info {
        max-width: var(--e-hour-column-width-xs, #{setting.$hour-column-width-xs});
        min-width: var(--e-hour-column-width-xs, #{setting.$hour-column-width-xs});
      }
    }

    &__body {
      min-width: calc(100% - var(--e-hour-column-width-xs, #{setting.$hour-column-width-xs}));
    }
  }

  @include mixins.xs {
    .e-schedule {
      &__header[role="cell"] [data-day-of-week="true"] {
        font-size: 11px;
        text-transform: capitalize;
      }

      &__empty-slot {
        &.e-btn {
          min-width: unset;
          padding: 0 4px;
          font-size: 12px;
        }
      }

      &-btn--day {
        width: 25px;
        height: 25px;
        font-size: 12px;
      }

      &__event-container {
        .event {
          &-name {
            overflow: hidden;
            font-size: 11px;
            line-height: 11px;
          }

          &-subtitle,
          &-footer {
            display: none;
          }
        }
      }
    }

    .hour-label {
      &:after {
        content: unset;
      }

      padding-right: 0;
    }
  }
}