@use "../../mixins";
@use "../variables/index.scss" as setting;

@include mixins.xs {
  h1 {
    font-size: 1.4rem;
  }

  .title {
    font-size: 1rem;
  }
}

@include mixins.sm {
  h1 {
    font-size: 1.6rem;
  }

  .title {
    font-size: 1.1rem;
  }
}

@include mixins.md {
  h1 {
    font-size: 1.8rem;
  }

  .title {
    font-size: 1.3rem;
  }
}

body {
  font-family: setting.$root-font-family;
}