@use "../../public/styles/_mixins.scss" as mixin;

.nav {
    &__header {
        color: white;
    }

    &__body {
        overflow-x: hidden;
        overflow-y: auto;

        .e-list {
            &-item {
                text-transform: capitalize;

                &[data-activator-node="true"] {
                    font-size: 14px;
                    font-weight: 500;
                }

                &--text {
                    pointer-events: none;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }
    }
}

// .e-bar--depressed {
// box-shadow: none;
// }

#doc-main-app {
    // height: 100vh;
    overflow: auto;
}

.e-drawer {
    .app-logo {
        .e-list-item__content {
            font-weight: 300;
            font-size: 2em;
        }

        .e-icon {
            transform: rotate(45deg);
        }
    }
}

@include mixin.xs {
    html {
        --root-font-size: 15.2px;
    }
}

@include mixin.sm {
    html {
        --root-font-size: 15.4px;
    }
}

@include mixin.md {
    html {
        --root-font-size: 15.6px;
    }
}