.e-bar {
  margin-bottom: calc(var(--e-space-base, 4px) * 4);
  height: var(--e-bar-height, 64px);
  background-color: var(--e-bar-bg, var(--e-color-surface-2, #ffffff));
  color: var(--e-bar-color, var(--e-contrast-surface-2, #000000));
  flex-grow: 1;
  display: block;
  contain: layout;
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  right: 0;
  left: 0;
  position: relative;

  &--outlined {
    border: thin solid;
    border-color: var(--e-color-border, currentColor);
  }

  &--outlined,
  &--depressed {
    box-shadow: none !important;
  }

  &__content {
    align-items: center;
    display: flex;
    padding: var(--e-bar-vertical-padding, 0px) var(--e-bar-inline-padding, 16px);
    position: relative;
    z-index: 1;
    height: 100%;
    flex-wrap: wrap;
    padding: calc(var(--e-space-base, 4px) * 2) calc(var(--e-space-base, 4px) * 4);
  }

  &--app {
    position: absolute;
    left: 0;
    z-index: 10;
    border-top: none;
    border-left: none;
    border-right: none;

    .e-bar__content {
      flex-wrap: nowrap;
    }
  }

  &--clipped {
    z-index: 12;
    left: 0 !important;
    right: 0 !important;
  }

  &--fixed {
    position: fixed;
  }

  &--dense {
    &.e-bar {
      height: var(--e-bar-height-dense, 48px);
    }
  }

  &--absolute {
    position: absolute;
  }

}