.e-bar {
  margin-bottom: calc(var(--e-space-base, 4px) * 4);
  box-shadow: var(--e-bar-box-shadow, 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%));
  height: var(--e-bar-height, 64px);
  background-color: var(--e-color-surface-1, #ffffff);
  color: var(--e-contrast-surface-1, #000000);
  flex-grow: 1;
  display: block;
  contain: layout;
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  right: 0;
  left: 0;
  position: relative;

  &--outlined {
    border: thin solid;
    border-color: rgba(0, 0, 0, .12) !important;
  }

  &--outlined,
  &--depressed {
    box-shadow: none !important;
  }

  &__content {
    align-items: center;
    display: flex;
    padding: var(--e-bar-padding-y, 0px) var(--e-bar-padding-x, 16px);
    position: relative;
    z-index: 1;
    height: 100%;
    flex-wrap: wrap;
  }

  &--app {
    background-color: #f5f5f5;
    position: absolute;
    left: 0;
    z-index: 10;
    border-top: none;
    border-left: none;
    border-right: none;

    .e-bar__content {
      flex-wrap: nowrap;
    }
  }

  &--clipped {
    z-index: 12;
    left: 0 !important;
    right: 0 !important;
  }

  &--fixed {
    position: fixed;
  }

  &--dense {
    &.e-bar {
      height: var(--e-bar-height-dense, 48px);
    }
  }

  &--absolute {
    position: absolute;
  }

  &.primary > *,
  &.secondary > *,
  &.tertiary > *,
  &.error > *,
  &.warning > *,
  &.success > *,
  &.info > *,
  &.input > *,
  &.disabled > *,
  &.surface-0 > *,
  &.surface-1 > *,
  &.surface-2 > *,
  &.surface-3 > *,
  &.border > * {
    color: inherit;
  }
}
