$card-title-font-size: var(--e-typography-title-font-size-lg) !default;
$card-title-line-height: var(--e-typography-title-line-height-lg) !default;
$card-title-font-weight: var(--e-typography-title-font-weight-lg) !default;
$card-title-letter-spacing: var(--e-typography-title-letter-spacing-lg) !default;

$card-subtitle-font-size: var(--e-typography-label-font-size-lg) !default;
$card-subtitle-line-height: var(--e-typography-label-line-height-lg) !default;
$card-subtitle-font-weight: var(--e-typography-label-font-weight-lg) !default;
$card-subtitle-letter-spacing: var(--e-typography-label-letter-spacing-lg) !default;

$card-description-font-size: var(--e-typography-body-font-size-lg) !default;
$card-description-line-height: var(--e-typography-body-line-height-lg) !default;
$card-description-font-weight: var(--e-typography-body-font-weight-lg) !default;
$card-description-letter-spacing: var(--e-typography-body-letter-spacing-lg) !default;

$card-body-font-size: var(--e-typography-body-font-size-lg) !default;
$card-body-line-height: var(--e-typography-body-line-height-lg) !default;
$card-body-font-weight: var(--e-typography-body-font-weight-lg) !default;
