$field-hover-overlay-opacity: 0.04;
$field-transition-duration: 0.2s !default;


$field-rest-color: currentColor;
$field-color: $field-rest-color;
$field-select-selection-color: $field-rest-color;
$field-border-radius: var(--e-border-radius-root, 4px);
$field-border-width: 1px;
$field-focus-line-opacity: 0.38;

$field-height: 3.25rem;
$field-height-dense: 3rem;
$field-height-default-with-label-floating: 3.75rem;
$field-height-dense-with-label-floating: 3.25rem;
$field-input-line-height: 1.125rem;
$field-slot-padding-base: 0.25rem;
$field-chip-height: $field-input-line-height;
$field-max-width: 100%;

$field-control-height: 3rem;
$field-control-height-dense: 2.5rem;

$field-label-float-y: 0.45rem;
$field-label-float-scale: 0.78;
$field-label: $field-rest-color;
$field-label-line-height: $field-input-line-height;



