$icon-close-font-size: 24px !default;
$icon-class: "icon" !default;
$icon-prefix: "icon-" !default;

$icon-font-sizes: (
    x-small: 18px,
    small: 20px,
    default: 24px,
    large: 28px,
    x-large: 32px,
) !default;
