$snackbar-message-font-size: 0.875rem !default;
$snackbar-padding: calc(var(--e-space-base, 4px) * 2) !default;
$snackbar-gap: calc(var(--e-space-base, 4px)) !default;
$snackbar-padding-block: calc(var(--e-space-base, 4px) * 2) !default;
$snackbar-padding-inline: calc(var(--e-space-base, 4px) * 3) !default;