$table-border-color: var(--e-color-border) !default;
$table-radius: var(--e-border-radius-root, 4px) !default;
$table-font-size: .875rem !default;
$table-body-font-weight: 100 !default;
$table-header-font-size: inherit !default;
$table-header-font-weight: 500 !default;
$table-header-transform: uppercase !default;
$table-header-letter-spacing: 0.04em !default;