.e-card {
  border-radius: var(--e-border-radius-root, 4px);
  --card-bg: var(--e-color-surface-1, #ffffff);
  --card-text: var(--e-contrast-surface-1, #000000);
  --card-border-color: var(--card-bg);

  background-color: var(--card-bg);
  color: var(--card-text);
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &--outlined {
    border: thin solid var(--card-border-color);
  }

  &--depressed {
    box-shadow: none;
  }

  &__container {
    padding: var(--e-space-base, 4px);
    flex: 1;
  }

  &__footer {
    flex: 1;

    &-content {
      padding: var(--e-space-base, 4px);
      flex: 1;
    }
  }

  &>.e-avatar {
    &__wrapper {
      padding: var(--e-space-base, 4px);
    }
  }
}