@use '~/public/styles/_mixins.scss' as *;


.e-field {
    --field-layout-active-height: var(--e-field-height);
    --field-layout-field-control-padding-inline-start: calc(var(--e-field-slot-padding-base) * 2);
    --field-layout-control-padding-inline: calc(var(--e-field-slot-padding-base) * 3);
    --field-layout-label-rest-y: calc((var(--field-layout-active-height) - var(--e-field-label-line-height)) / 2);
    --field-layout-content-padding-top: var(--e-field-slot-padding-base);
    --field-label-state-y: var(--field-layout-label-rest-y);
    --field-label-state-translate-y: 0;
    --field-label-state-scale: 1;
    --field-state-input-color: var(--e-color-input);
    --field-state-border-style: solid;
    --field-state-border-width: var(--e-field-border-width);
    --field-state-border-color: var(--e-color-border);
    --field-layout-gap: 0.75rem;

    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: minmax(var(--field-layout-active-height), auto) auto;

    flex-grow: 1;
    position: relative;
    color: var(--e-field-rest-color);
    font-size: 1rem;
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    max-width: var(--e-field-max-width, 100%);

    min-height: var(--field-layout-active-height);

    &--dense {
        --field-layout-active-height: var(--e-field-height-dense);
        --e-field-label-float-y: var(--e-field-label-float-y-dense);
        --e-field-label-float-scale: var(--e-field-label-float-scale-dense);

        &.e-field--label-floating {
            --field-layout-active-height: var(--e-field-height-dense-with-label-floating);
        }

    }

    &__supporting-text {
        grid-column: 2;
        grid-row: 2;
        min-width: 0;
    }


    &__line {
        align-items: stretch;
        contain: layout;
        display: flex;
        height: 100%;
        left: 0px;
        pointer-events: none;
        position: absolute;
        right: 0px;
        width: 100%;
        top: 0;

        &:before {
            opacity: var(--e-field-focus-line-opacity);
            content: "";
            position: absolute;
            top: -1px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-style: solid;
            border-width: 0 0 var(--e-field-border-width);
            transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }

        &::after {
            transform: scaleX(0);
            content: "";
            position: absolute;
            top: -2px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-color: currentcolor;
            border-style: solid;
            border-width: 0px 0px 2px;
            transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }
    }

    &--is-hovered,
    &--retain-color,
    &--is-focused,
    &--is-focus-within,
    &--has-error {
        color: var(--e-field-color);
        --e-field-label: currentColor;
        --field-state-border-color: currentColor;
        --e-field-hover-overlay-opacity: var(--e-field-hover-overlay-opacity, 0.04);
    }


    &--is-focused,
    &--is-focus-within {
        .e-field__line {
            opacity: 1;

            &:after {
                transform: scaleX(1);
            }
        }
    }

    &__overlay {
        color: currentColor;
        background-color: currentColor;
        opacity: var(--e-field-hover-overlay-opacity, 0.04);
        pointer-events: none;
        position: absolute;
        inset: 0;
        border-radius: inherit;
        transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }

    &__suffix,
    &__prefix {
        color: var(--field-state-input-color);
        line-height: var(--e-field-input-line-height);
        align-self: center;
        cursor: default;
        transition: color var(--e-field-transition-duration) cubic-bezier(0.25, 0.8, 0.5, 1);
        white-space: nowrap;
        padding-right: calc(var(--field-layout-gap) / 2);
        padding-top: var(--field-layout-content-padding-top);
    }

    &__prepend,
    &__append {
        align-items: flex-start;
        color: currentColor;
        display: inline-flex;
        flex: 0 0 auto;
        align-self: stretch;
        height: auto;
        min-width: 0;
    }

    &__prepend {
        grid-column: 1;
        grid-row: 1;
    }

    &__append {
        grid-column: 3;
        grid-row: 1;
    }

    &__prepend-inner,
    &__append-inner {
        align-items: center;
        color: currentColor;
        display: inline-flex;
        flex: 0 0 auto;
        line-height: 1;
        position: relative;
        z-index: 1;
        @include prefix(user-select, none);
    }

    &__prepend-inner {
        grid-area: prepend-inner;
        margin-right: auto;
        padding-right: var(--field-layout-gap);

    }

    &__append-inner {
        grid-area: append-inner;
        margin-left: auto;
    }

    &__prefix {
        text-align: right;
        grid-area: prefix;
    }

    &__suffix {
        grid-area: suffix;
        padding-right: var(--field-layout-gap);
    }

    .e-label {
        line-height: var(--e-field-label-line-height);
        margin-top: var(--field-layout-label-rest-y);
        padding-right: var(--field-layout-gap);
        margin-bottom: 0;
        align-self: flex-start;
        backface-visibility: hidden;
        position: relative;
        transition:
            color var(--e-field-transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
            left var(--e-field-transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
            top var(--e-field-transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
            transform var(--e-field-transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
            opacity var(--e-field-transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--e-field-label, var(--e-color-label));
        white-space: nowrap;
        z-index: 1;
    }

    &__prepend {
        margin-right: auto;
        padding-right: 0.75rem;
    }

    &__append {
        margin-left: auto;
        padding-left: 0.75rem;
    }

    &__prepend,
    &__append {
        align-self: center;
        display: inline-flex;
        line-height: 1;
        color: currentColor;
        @include prefix(user-select, none);
    }

    &__details {
        display: flex;
        flex: 1 0 auto;
        min-width: 0;
        max-width: 100%;
        min-height: 14px;
        overflow: hidden;
        padding: 4px 8px 0 4px;
    }

    .e-counter {
        --field-metric-counter-size: 0.75rem;
        white-space: nowrap;
        flex: 0 1 auto;
        font-size: var(--field-metric-counter-size);
        min-height: var(--field-metric-counter-size);
        line-height: var(--field-metric-counter-size);
        margin-left: calc(var(--e-space-base) * 2);
    }

    &__slot {
        // padding: var(--field-layout-content-padding-top) var(--field-layout-control-padding-inline) var(--e-field-slot-padding-base) 0;
        padding: var(--field-layout-content-padding-top) 0 var(--e-field-slot-padding-base) 0;
        background: transparent;
        border: 0;
        box-sizing: border-box;
        display: block;
        line-height: var(--e-field-input-line-height);
        width: 100%;
    }

    &__frame {
        grid-column: 2;
        grid-row: 1;
        color: inherit;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: 100%;
        flex-wrap: nowrap;
        line-height: var(--e-field-input-line-height);
        min-height: var(--field-layout-active-height);
        min-width: 0;
        cursor: text;
        position: relative;
        width: 100%;

        border-top-left-radius: var(--e-field-border-radius);
        border-top-right-radius: var(--e-field-border-radius);


        padding-inline: var(--field-layout-gap);


        input,
        textarea {
            color: var(--field-state-input-color);
        }
    }

    &--is-disabled {
        pointer-events: none;
        color: var(--e-color-disabled);
        --field-state-border-style: dashed;
    }

    &--outlined {
        --field-layout-floating-label-padding-inline: 0.5rem;

        .e-field__frame {
            border: var(--field-state-border-width) var(--field-state-border-style) var(--field-state-border-color);
            border-radius: var(--e-field-border-radius);
        }

        &.e-field--label-floating {
            .e-label--floating {
                left: calc(var(--field-layout-control-padding-inline) - var(--field-layout-floating-label-padding-inline));
                padding-inline: var(--field-layout-floating-label-padding-inline);
            }
        }

    }

    &--is-readonly {
        pointer-events: none;
    }

    &__field {
        display: grid;
        flex: 1 1 auto;
        align-items: center;
        max-width: 100%;
        grid-template-areas: "prepend-inner label prefix field suffix append-inner";
        grid-template-columns: min-content min-content min-content minmax(0, 1fr) min-content min-content;
        contain: layout;

        label {
            grid-area: label;
        }

        input {
            grid-area: field;
        }
    }

    &--label-floating {
        --field-layout-active-height: var(--e-field-height-default-with-label-floating);
        --field-layout-content-padding-top: calc(var(--e-field-label-float-scale) * var(--e-field-label-line-height) + var(--e-field-label-float-y) + var(--e-field-slot-padding-base));
        --field-label-state-translate-y: 0;
        --field-layout-field-control-padding-inline-start: 0;
        --field-label-state-scale: 1;

        .e-field__frame {
            min-height: var(--field-layout-active-height);
        }

        .e-field__suffix,
        .e-field__prefix {
            align-self: center;
        }

        .e-label--floating {
            left: 0;
            margin-top: 0;
            max-width: calc(100% - (var(--field-layout-control-padding-inline) * 2));
            opacity: 0.78;
            overflow: hidden;
            padding-inline-start: var(--field-layout-control-padding-inline);
            pointer-events: none;
            position: absolute;
            text-overflow: ellipsis;
            top: var(--field-label-state-y);
            transform: translate3d(0, var(--field-label-state-translate-y), 0) scale(var(--field-label-state-scale));
            transform-origin: left center;
            white-space: nowrap;
            z-index: 1;
        }

        .e-field__prefix,
        .e-field__suffix {
            opacity: var(--e-field-affix-opacity, 0);
            transition: opacity var(--e-field-transition-duration) cubic-bezier(0.25, 0.8, 0.5, 1);
        }

    }

    &--label-floated {
        --e-field-affix-opacity: 1;
        --field-label-state-y: var(--e-field-label-float-y);
        --field-label-state-translate-y: 0;
        --field-label-state-scale: var(--e-field-label-float-scale);

        .e-label--floated {
            opacity: 1;
        }

    }


    .e-messages {
        width: auto;
    }


    &--label-inline {
        .e-label {
            white-space: nowrap;
        }
    }

    input,
    textarea {
        z-index: 1;
        line-height: var(--e-field-input-line-height);
        min-width: 0;
        font-size: 1rem;

        &:active,
        &:focus {
            outline: none;
        }

        &::placeholder,
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder {
            color: color-mix(in srgb, var(--field-state-input-color) 38%, transparent);
        }
    }

    textarea {
        overflow: hidden;
    }
}