@use '~/public/styles/_mixins.scss' as *;

.e-field {

    align-items: flex-start;
    color: var(--e-field-rest-color);
    display: flex;
    flex: 1 1 auto;
    font-size: 1rem;
    letter-spacing: normal;
    max-width: 100%;
    text-align: left;

    label {
        color: var(--e-field-label);
        white-space: nowrap;
    }

    .e-btn--text.e-btn--no-invert-color {
        color: currentColor;
    }

    &--dense {
        --e-field-label-float-y: 0.3rem;
        --e-field-label-float-scale: 0.74;

        .e-field__slot {
            margin-bottom: 0;
        }
    }

    input {
        line-height: 20px;
        padding: 0.5rem 0 0.5rem 0.5rem;
        min-width: 0;
        font-size: 1rem;
    }

    &__line {
        --v-field-border-width: 1px;
        --v-field-border-opacity: 0.38;
        align-items: stretch;
        contain: layout;
        display: flex;
        height: 100%;
        left: 0px;
        pointer-events: none;
        position: absolute;
        right: 0px;
        width: 100%;

        &:before {
            opacity: var(--v-field-border-opacity);
            content: "";
            position: absolute;
            top: -1px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-style: solid;
            border-width: 0 0 var(--v-field-border-width);
            transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }

        &::after {
            transform: scaleX(0);
            content: "";
            position: absolute;
            top: -2px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-color: currentcolor;
            border-style: solid;
            border-width: 0px 0px 2px;
            transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }
    }

    &--is-hovered,
    &--retain-color,
    &--is-focused,
    &--has-error {
        --e-field-label: var(--e-field-color);
        color: var(--e-field-color);

        .e-field__overlay {
            opacity: calc(var(--e-field-hover-overlay-opacity) + 0.04);
        }
    }

    &--retain-color {
        --e-field-rest-color: var(--e-field-color);
        --e-field-placeholder-color: color-mix(in srgb, var(--e-field-color) 38%, transparent);
    }

    &--is-focused {
        .e-field__line {
            opacity: 1;

            &:after {
                transform: scaleX(1);
            }
        }
    }

    &__overlay {
        background-color: currentcolor;
        opacity: var(--e-field-hover-overlay-opacity, 0.04);
        pointer-events: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }

    &__suffix,
    &__prefix {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        align-self: center;
        cursor: default;
        transition: color 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        white-space: nowrap;
        padding-left: 4px;
    }

    &__prefix {
        text-align: right;
        grid-area: prefix;
    }

    &__suffix {
        grid-area: suffix;
    }

    &__icon {
        align-items: center;
        display: inline-flex;
        height: 24px;
        flex: 1 0 auto;
        justify-content: center;
        min-width: 24px;
        width: 24px;
    }

    .e-label {
        font-weight: 400;
        line-height: 18px;
        margin-top: 15px;
        margin-bottom: 0;
        align-self: flex-start;
        backface-visibility: hidden;
        transition:
            color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            top 0.22s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.22s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__prepend-inner {
        margin-right: auto;
        padding-right: 0.5rem;
    }

    &__append-inner {
        margin-left: auto;
        padding-left: 0.5rem;
    }

    &__prepend-inner,
    &__append-inner {
        align-self: center;
        display: inline-flex;
        line-height: 1;
        @include prefix(user-select, none);
    }

    &__details {
        display: flex;
        flex: 1 0 auto;
        max-width: 100%;
        min-height: 14px;
        overflow: hidden;
        padding: 4px 8px 0 4px;
    }

    .e-counter {
        white-space: nowrap;
        flex: 0 1 auto;
        font-size: 12px;
        min-height: 12px;
        line-height: 12px;
    }

    &--selection-controls {
        padding-top: 4px;

        .e-radio,
        .e-field__slot {
            cursor: pointer;
        }

        &.e-field {
            flex: 0 1 auto;
        }

        .e-radio {
            label.e-label {
                margin-top: 0;
                align-self: center;
            }
        }

        .e-field__selection-ripple {
            border-radius: 50%;
            cursor: pointer;
            height: 40px;
            position: absolute;
            overflow: hidden;
            transition: inherit;
            width: 40px;
            left: 0;
            top: 0;
            margin: 0;
            transform: var(--e-selection-control-ripple-transform, translate(-8px, -8px));
            transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

            &.v-ripple-element {
                position: absolute;
            }

            &:before,
            &:after {
                border-radius: inherit;
                bottom: 0;
                content: "";
                position: absolute;
                opacity: 0.1;
                left: 0;
                right: 0;
                top: 0;
                transform-origin: center center;
                transform: scale(0.2);
                transition: inherit;
            }
        }

        .e-field__selection-control {
            margin-right: 8px;
            color: inherit;
            display: inline-flex;
            flex: 0 0 auto;
            height: 24px;
            position: relative;
            transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
            transition-property: transform;
            width: 24px;
            @include prefix(user-select, none);

            .e-icon {
                min-width: 100%;
            }

            input {
                max-height: 2rem;
                width: 100%;
            }

            &+.e-label {
                left: 0px;
                right: auto;
                position: relative;
                cursor: pointer;
                @include prefix(user-select, none);
            }

            .e-icon.e-icon {
                &:after {
                    background-color: currentColor;
                    border-radius: 50%;
                    content: "";
                    display: inline-block;
                    height: 100%;
                    left: 0;
                    opacity: 0;
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    transform: scale(1.3);
                    width: 100%;
                    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
                }
            }

            &:hover,
            &[data-focused="true"] {
                .e-field__selection-ripple:before {
                    background: currentColor;
                    transform: scale(1.2);
                }
            }

            input[role="checkbox"],
            input[role="radio"],
            input[role="switch"] {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                cursor: pointer;
                @include prefix(user-select, none);
            }
        }
    }

    &__control {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-grow: 1;
        flex-wrap: wrap;
        position: relative;
        min-width: 0;
        width: 100%;
    }

    &__slot {
        max-width: 100%;
        color: inherit;
        display: flex;
        height: 3rem;
        padding: 0 0.75rem;
        min-height: inherit;
        position: relative;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        width: 100%;
        border-top-left-radius: var(--e-field-border-radius);
        border-top-right-radius: var(--e-field-border-radius);

        button {
            color: currentColor;
            cursor: pointer;
        }
    }

    &--is-disabled:not(.e-field--is-readonly) {
        pointer-events: none;
        color: rgba(0, 0, 0, 0.38);

        .e-field {
            &__line::before {
                border-bottom-style: dashed;
            }
        }
    }

    &--outlined {
        @include e-field-outlined;

        &.e-field--label-floating {
            .e-label--floating {
                padding-inline: 0.25rem;
            }
        }

        .e-field__slot {
            border-bottom-left-radius: var(--e-field-border-radius);
            border-bottom-right-radius: var(--e-field-border-radius);
        }
    }

    &--is-readonly {
        pointer-events: none;
    }

    &__field {
        display: grid;
        flex: 1 1 auto;
        align-items: center;
        max-width: 100%;
        grid-template-areas: "label prefix field suffix";
        grid-template-columns: min-content min-content minmax(0, 1fr) min-content;
        contain: layout;

        label {
            grid-area: label;
        }

        input {
            grid-area: field;
        }
    }

    &--label-floating:not(.e-field--label-inline) {
        .e-field__slot {
            height: auto;
            min-height: 3.75rem;
            width: auto;
        }

        .e-field__control {
            min-height: 3.75rem;
        }

        .e-field__field {
            position: relative;
            grid-template-areas: "prefix field suffix";
            grid-template-columns: min-content minmax(0, 1fr) min-content;
        }

        .e-label--floating {
            left: var(--e-field-label-inline-offset);
            margin-top: 0;
            max-width: calc(100% - 1rem);
            opacity: 0.78;
            overflow: hidden;
            pointer-events: none;
            position: absolute;
            text-overflow: ellipsis;
            top: var(--e-field-label-current-y);
            transform: translate3d(0, var(--e-field-label-current-translate-y), 0) scale(var(--e-field-label-current-scale));
            transform-origin: left center;
            white-space: nowrap;
            z-index: 1;
        }

        input,
        textarea,
        select,
        .e-field__prefix,
        .e-field__suffix {
            padding-top: 1.5rem;
            padding-bottom: 0.35rem;
        }

        .e-field__prefix,
        .e-field__suffix {
            opacity: var(--e-field-affix-opacity, 0);
            transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        }
    }

    &--label-floated {
        --e-field-affix-opacity: 1;
        --e-field-label-current-y: var(--e-field-label-float-y);
        --e-field-label-current-translate-y: 0;
        --e-field-label-current-scale: var(--e-field-label-float-scale);

        .e-label--floated {
            opacity: 1;
        }

    }

    &--dense.e-field--label-floating {
        .e-field__slot {
            min-height: 3.25rem;
        }

        .e-field__control {
            min-height: 3.25rem;
        }
    }

    .e-counter {
        margin-left: 8px;
    }

    .e-messages {
        width: auto;
    }

    input:active,
    input:focus,
    textarea:active,
    textarea:focus {
        outline: none;
    }

    &--label-inline {
        .e-label {
            white-space: nowrap;
        }
    }

    ::-webkit-input-placeholder,
    :-ms-input-placeholder,
    ::placeholder {
        color: var(--e-field-input-placeholder);
    }

    &--is-hovered,
    &--is-focused {

        ::-webkit-input-placeholder,
        :-ms-input-placeholder,
        ::placeholder {
            color: currentColor;
        }
    }
}