$btn-border-radius: $border-radius-root !default;
$btn-font-weight: 500 !default;
$btn-letter-spacing: 0.089em !default;
$btn-border-style: solid !default;
$btn-border-width: 1px !default;
$btn-rounded-border-radius: 28px !default;
$btn-text-transform: uppercase !default;
$btn-transition-duration: 0.28s !default;

$btn-states: map-merge(("focus": 0.05,
      "hover": 0.1,
      "active": 0.3,
    ),
    ()) !default;

$btn-font-sizes: map-merge(("x-small": 0.625rem,
      "small": 0.75rem,
      "default": 0.875rem,
      "large": 0.875rem,
      "x-large": 1rem,
    ),
    ()) !default;

$fab-font-sizes: map-merge(("x-small": 1.25rem,
      "small": 1.25rem,
      "default": 1.5rem,
      "large": 0.714rem,
      "x-large": 2rem,
    ),
    ()) !default;

$fab-height: map-merge(("x-small": 2em,
      "small": 2.5em,
      "default": 3.5em,
      "large": 4em,
      "x-large": 4.5em,
    ),
    ()) !default;

$stacked-height: map-merge(("x-small": 2em,
      "small": 2.5em,
      "default": 4.5em,
      "large": 5.5em,
      "x-large": 8em,
    ),
    ()) !default;

$btn-height: map-merge(("x-small": 2.187rem,
      "small": 2.5rem,
      "default": 3rem,
      "large": 3.125rem,
      "x-large": 3.4375rem,
    ),
    ()) !default;

$icon-font-sizes: map-merge(("x-small": 1.25rem,
      "small": 1.3rem,
      "default": 1.625rem,
      "large": 2rem,
      "x-large": 2.375rem,
    ),
    ()) !default;