$schedule-border-color: rgb(218, 220, 224) !default;
$schedule-border-width: 1px !default;
$hour-column-width: 65px !default;
$hour-column-width-xs: calc($hour-column-width - 19px) !default;
$header-col-height: 65px !default;
$schedule-bg: white !default;