@use "sass:map";
@use './override/tokens/index.scss' as *;

@mixin prefix($property, $value, $prefixes: webkit ms moz) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    #{$property}: $value;
}

@mixin animation($name) {
    @keyframes #{$name} {
        @content;
    }

    @-webkit-keyframes #{$name} {
        @content;
    }
}

@mixin font($font-family, $url, $font-display) {
    @font-face {
        font-family: $font-family;
        src: url($url + '.eot');
        src: url($url + '.eot?#iefix') format('embedded-opentype'),
            url($url + '.woff') format('woff'),
            url($url + '.ttf') format('truetype'),
            url($url + '.svg#' + $font-family) format('svg');
        font-weight: normal;
        font-style: normal;

        @if($font-display) {
            font-display: $font-display;
        }
    }
}

@mixin button-before($bg: currentColor,
    $opacity: 0,
    $transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1),
    $interactive: false,
    $hover-opacity: var(--e-btn-state-hover, 0.08),
    $focus-opacity: var(--e-btn-state-focus, 0.12),
    $active-opacity: var(--e-btn-state-active, 0.12)) {
    &::before {
        content: '';
        position: absolute;
        inset: 0; // shorthand de top, right, bottom, left

        background-color: $bg;
        border-radius: inherit;

        opacity: $opacity;
        pointer-events: none;

        transition: $transition;
    }

    @if $interactive {
        &:focus:before {
            opacity: $focus-opacity;
        }

        &:hover:before {
            opacity: $hover-opacity;
        }

        &:active:before {
            opacity: $active-opacity;
        }
    }
}

@mixin button-reset($padding-x: calc(var(--e-space-base) * 4),
    $min-width: 4em) {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    position: relative;

    cursor: pointer;
    outline: 0;
    text-decoration: none;

    padding: 0 $padding-x;
    min-width: $min-width;

    vertical-align: middle;
    white-space: nowrap;

    transition-property: box-shadow, opacity, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin force-sizes($value,
    $properties: (min-width, max-width, min-height, max-height)) {
    @each $property in $properties {
        #{$property}: $value;
    }
}

@mixin force-square($size) {
    @include force-sizes($size, (width, height));
}




//grid
@mixin media-up($key) {
    $value: map.get($grid-breakpoints, $key);

    @if $value !=0 {
        @media (min-width: $value) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin xs {
    @media (max-width: #{map.get($grid-breakpoints, 'sm') - 1px}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{map.get($grid-breakpoints, 'sm')}) and (max-width: #{map.get($grid-breakpoints, 'md') - 1px}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{map.get($grid-breakpoints, 'md')}) and (max-width: #{map.get($grid-breakpoints, 'lg') - 1px}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{map.get($grid-breakpoints, 'lg')}) and (max-width: #{map.get($grid-breakpoints, 'xl') - 1px}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{map.get($grid-breakpoints,'xl')}) {
        @content;
    }
}

@mixin generate-grid-classes {

    .e-col {
        grid-column: span var(--e-grid-cols, #{$grid-cols});
    }

    // ✅ 1. BASE FIRST
    @for $i from 1 through $grid-cols {
        .e-col-#{$i} {
            grid-column: span #{$i};
        }
    }

    // ✅ 2. RESPONSIVE AFTER (para que tengan más especificidad que la clase base)
    @each $breakpoint, $value in $grid-breakpoints {
        @include media-up($breakpoint) {
            @for $i from 1 through $grid-cols {
                .e-col-#{$breakpoint}-#{$i} {
                    grid-column: span #{$i};
                }
            }

            .e-col-#{$breakpoint}-auto {
                grid-column: auto;
            }
        }
    }
}

@mixin grid-gap-responsive {
    @each $breakpoint, $value in $grid-breakpoints {
        @include media-up($breakpoint) {
            & {
                --e-grid-gap: var(--e-grid-gap-#{$breakpoint});
            }
        }
    }
}