@use "sass:map";
@use "sass:meta";
@use "sass:color";
@use './override/variables/index' as *;
@use './_mixins.scss' as *;

@function e-contrast-fallback($name, $bg-color) {
  @if map.has-key($contrast-colors-light, $name) {
    @return map.get($contrast-colors-light, $name);
  }

  @if meta.type-of($bg-color) == "color" {
    @if color.channel($bg-color, "lightness", $space: hsl) > 60% {
      @return #000;
    }

    @return #fff;
  }

  @return #fff;
}

@each $key, $value in $elevation {
  .e-elevation--#{$key} {
    box-shadow: var(--e-elevation-#{$key}, #{$value});
  }
}

@each $color, $value in $colors-light {
  $contrast-fallback: e-contrast-fallback($color, $value);

  .#{$color} {
    background-color: var(--e-color-#{$color}) !important;
    border-color: var(--e-color-#{$color}) !important;
    ;
    color: var(--e-contrast-#{$color}, #{$contrast-fallback}) !important;
    ;

    &--text {
      color: var(--e-color-#{$color}) !important;
      caret-color: var(--e-color-#{$color}) !important;
      fill: var(--e-color-#{$color}) !important;
    }
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

// utilities
$displays: block, inline-block, flex, inline-flex, none;

$alignments: (
  justify: (start: flex-start, center: center, end: flex-end, between: space-between, around: space-around),
  items: (start: flex-start, center: center, end: flex-end, baseline: baseline, stretch: stretch)
);

$text-align: left, center, right;

// =============================
// SPACING (margin & padding)
// =============================
$spaces: (
  m: margin,
  p: padding
);

$directions: (
  "": "",
  x: (left, right),
  y: (top, bottom),
  t: top,
  r: right,
  b: bottom,
  l: left
);

// =============================
// DISPLAY
// =============================
@each $bp, $value in $grid-breakpoints {
  @each $d in $displays {
    $selector: ".d-#{$bp}-#{$d}";

    @if $bp == 0 {
      $selector: ".d-#{$d}";
    }

    #{$selector} {
      @include media-up($bp) {
        display: $d;
      }
    }
  }
}

@each $type, $prop in $spaces {
  @each $dir, $dir-val in $directions {
    @for $i from 0 through $space-scale {

      .#{$type}#{$dir}-#{$i} {
        @if meta.type-of($dir-val) == "list" {
          @each $d in $dir-val {
            #{$prop}-#{$d}: $i * $space-base;
          }
        }

        @else if $dir =="" {
          #{$prop}: $i * $space-base;
        }

        @else {
          #{$prop}-#{$dir-val}: $i * $space-base;
        }
      }

      // negativos (solo margin)
      @if $type ==m {
        .#{$type}#{$dir}-n#{$i} {
          @if meta.type-of($dir-val) == "list" {
            @each $d in $dir-val {
              #{$prop}-#{$d}: -$i * $space-base;
            }
          }

          @else if $dir =="" {
            #{$prop}: -$i * $space-base;
          }

          @else {
            #{$prop}-#{$dir-val}: -$i * $space-base;
          }
        }
      }
    }
  }
}

// FLEX ALIGNMENTS
// =============================
@each $group, $values in $alignments {
  @each $key, $val in $values {
    .#{$group}-#{$key} {
      #{$group}-content: $val;
    }

    @if $group ==items {
      .items-#{$key} {
        align-items: $val;
      }
    }
  }
}

// =============================
// TEXT ALIGN
// =============================

@each $val in $text-align {
  .text-#{$val} {
    text-align: $val;
  }
}