@use "helper.scss";

//style
@use "override/styles/icon.scss";
@use "override/styles/button.scss";
@use "override/styles/date-picker.scss";
@use "override/styles/bar.scss";
@use "override/styles/dialog.scss";
@use "override/styles/menu.scss";
@use "override/styles/card.scss";
@use "override/styles/chip.scss";
@use "override/styles/expansion.scss";
@use "override/styles/select.scss";
@use "override/styles/form.scss";
@use "override/styles/grid.scss";
@use "override/styles/list.scss";
@use "override/styles/schedule.scss";
@use "override/styles/container.scss";
@use "override/styles/main.scss";
@use "override/styles/typography.scss";
@use './override/variables/index' as *;

@each $color, $value in $colors {
  .#{$color} {
    background-color: $value !important;
    border-color: $value ;

    &--text {
      color: $value !important;
      caret-color: $value !important;
      fill: $value !important;
    }
  }
}

:root {
  @each $key, $value in $breakpoint {
    --#{$key}: #{$value};
  }

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  --icon-class: #{$icon-class};
  --icon-prefix: #{$icon-prefix};
}