.e-chip {
  appearance: none;
  align-items: center;
  background-color: transparent;
  color: inherit;
  cursor: default;
  display: inline-flex;
  font-family: inherit;
  margin: 0;
  gap: 8px;
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  border-style: solid;
  border-width: 0;
  border-radius: 9999px;
  outline: none;

  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
  }

  &--selected {
    .e-chip__underlay {
      opacity: 0.18;
    }
  }

  &--clickable:hover,
  &--clickable:focus-visible {
    .e-chip__underlay {
      opacity: 0.18;
    }
  }

  &__underlay {
    opacity: 0.12;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    background: currentcolor;
    border-radius: inherit;
  }

  &--text {
    .e-chip__underlay {
      display: none;
    }
  }

  &__prepend,
  &__append,
  &__close,
  &__content {
    align-items: center;
    display: inline-flex;
    min-width: 0;
  }

  &__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
  }

  &__prepend,
  &__append,
  &__close {
    position: relative;
    z-index: 1;
  }

  &__prepend,
  &__append {
    flex: none;
  }

  &__close {
    flex: none;
  }
}