.e-chip {
  font-size: var(--e-chip-font-size, 0.875rem);
  height: var(--e-chip-height, 32px);
  padding: 0;
  --e-chip-content-padding-start: var(--e-chip-content-padding-x, 12px);
  --e-chip-content-padding-end: var(--e-chip-content-padding-x, 12px);
  appearance: none;
  align-items: center;
  background-color: transparent;
  color: var(--e-chip-color, inherit);
  cursor: default;
  display: inline-flex;
  font-family: inherit;
  margin: 0;
  gap: 8px;
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  border-style: solid;
  border-width: 0;
  border-radius: 9999px;
  outline: none;

  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

  +.e-chip {
    margin-left: var(--e-space-base, 4px);
  }

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
  }

  &--selected {
    .e-chip__underlay {
      opacity: 0.18;
    }
  }

  &--clickable:hover,
  &--clickable:focus-visible {
    .e-chip__underlay {
      opacity: 0.18;
    }
  }

  &__underlay {
    opacity: 0.12;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    background: currentcolor;
    border-radius: inherit;
  }

  &--text {
    .e-chip__underlay {
      display: none;
    }
  }

  &--size-x-small {
    --e-chip-font-size: var(--e-chip-font-size-x-small, 0.625rem);
    --e-chip-height: var(--e-chip-height-x-small, 24px);
    --e-chip-content-padding-x: var(--e-chip-content-padding-x-x-small, 8px);
    --e-chip-edge-padding-x: var(--e-chip-edge-padding-x-x-small, 5px);
    --e-chip-avatar-size: var(--e-chip-avatar-size-x-small, 18px);
    --e-chip-icon-size: var(--e-chip-icon-size-x-small, 14px);
  }

  &--size-small {
    --e-chip-font-size: var(--e-chip-font-size-small, 0.75rem);
    --e-chip-height: var(--e-chip-height-small, 28px);
    --e-chip-content-padding-x: var(--e-chip-content-padding-x-small, 10px);
    --e-chip-edge-padding-x: var(--e-chip-edge-padding-x-small, 6px);
    --e-chip-avatar-size: var(--e-chip-avatar-size-small, 22px);
    --e-chip-icon-size: var(--e-chip-icon-size-small, 16px);
  }

  &--size-default {
    --e-chip-font-size: var(--e-chip-font-size-default, 0.875rem);
    --e-chip-height: var(--e-chip-height-default, 32px);
    --e-chip-content-padding-x: var(--e-chip-content-padding-x-default, 12px);
    --e-chip-edge-padding-x: var(--e-chip-edge-padding-x-default, 7px);
    --e-chip-avatar-size: var(--e-chip-avatar-size-default, 27px);
    --e-chip-icon-size: var(--e-chip-icon-size-default, 18px);
  }

  &--size-large {
    --e-chip-font-size: var(--e-chip-font-size-large, 0.9375rem);
    --e-chip-height: var(--e-chip-height-large, 36px);
    --e-chip-content-padding-x: var(--e-chip-content-padding-x-large, 14px);
    --e-chip-edge-padding-x: var(--e-chip-edge-padding-x-large, 8px);
    --e-chip-avatar-size: var(--e-chip-avatar-size-large, 30px);
    --e-chip-icon-size: var(--e-chip-icon-size-large, 20px);
  }

  &--size-x-large {
    --e-chip-font-size: var(--e-chip-font-size-x-large, 1rem);
    --e-chip-height: var(--e-chip-height-x-large, 40px);
    --e-chip-content-padding-x: var(--e-chip-content-padding-x-x-large, 16px);
    --e-chip-edge-padding-x: var(--e-chip-edge-padding-x-x-large, 9px);
    --e-chip-avatar-size: var(--e-chip-avatar-size-x-large, 34px);
    --e-chip-icon-size: var(--e-chip-icon-size-x-large, 22px);
  }

  &--has-prepend {
    --e-chip-content-padding-start: 0px;
  }

  &--has-append,
  &--has-close {
    --e-chip-content-padding-end: 0px;
  }

  &--has-prepend-avatar {
    .e-chip__prepend {
      padding-inline-start: 0;

      .e-avatar__container {
        --avatar-size: var(--e-chip-height);
      }
    }
  }

  &--has-append-avatar {
    .e-chip__append {
      padding-inline-end: 0;

      .e-avatar__container {
        --avatar-size: var(--e-chip-height);
      }
    }
  }

  &__prepend,
  &__append,
  &__close,
  &__content {
    align-items: center;
    display: inline-flex;
    min-width: 0;
  }

  &__content {
    padding-inline-start: var(--e-chip-content-padding-start);
    padding-inline-end: var(--e-chip-content-padding-end);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
  }

  &__prepend,
  &__append,
  &__close {
    position: relative;
    z-index: 1;
  }

  &__prepend,
  &__append {
    flex: none;
  }

  &__prepend {
    padding-inline-start: var(--e-chip-edge-padding-x, 7px);
  }

  &__append {
    padding-inline-end: var(--e-chip-edge-padding-x, 7px);
  }

  &__close {
    flex: none;

    button {
      height: var(--e-chip-height, 24px);
      width: var(--e-chip-height, 24px);
      background-color: transparent;
      color: inherit;

      i {
        font-size: var(--e-chip-icon-size, 24px);
      }
    }
  }

  .e-avatar__container {
    --avatar-size: var(--e-chip-avatar-size);
  }

  .e-icon {
    --e-icon-size-default: var(--e-chip-icon-size, 24px);
  }
}