@use '~/public/styles/_mixins.scss' as *;

.e-time-picker {
    cursor: pointer;

    @include animation('seconds') {
        33% {
            opacity: 1;
        }

        66% {
            opacity: 0;
        }

        99% {
            opacity: 1;
        }
    }
    .flip-icon{
        transition: transform 0.3s ease;
    }

    &__separator {
        font-size: 20px;
        display: flex;
        align-items: center;
        min-width: 12px;
        justify-content: center;
    }

    .e-field__slot {
        justify-content: center;
    }


    &__fields {
        min-width: 0;
        position: relative;
    }

    &__content {
        grid-area: field;
        align-items: center;
        display: flex;
        min-width: 0;
        width: 100%;
    }

    &__content--left,
    &__content--start {
        justify-content: flex-start;
    }

    &__content--center {
        justify-content: center;
    }

    &__content--right,
    &__content--end {
        justify-content: flex-end;
    }

    &__separator {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 12px;
    }

    input[data-hours],
    input[data-minutes] {
        padding-inline: calc(var(--e-space-base, 4px) * 4);
        padding-top: calc(var(--e-space-base) * 2);
        padding-bottom: calc(var(--e-space-base) * 2);
        max-width: 60px;
        text-align: center;
        text-align: inherit;
    }

    &__field-icon {
        align-items: center;
        display: flex;
        grid-area: suffix;
        height: 100%;
    }

    &.e-field--label-floating:not(.e-field--label-inline) {

        .e-time-picker__separator {
            padding-bottom: 0.35rem;
            padding-top: 1.5rem;
        }
    }

    &__menu-content {
        padding: 0;

        .e-btn::before {
            transition: none;
        }
    }

    &__menu-list {
        display: flex;
        max-width: unset;
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            flex: 1 1 50%;
        }

        .time-info {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: var(--e-field-color);
            cursor: default;
            display: flex;
            user-select: none;
            transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
            position: relative;
            overflow: hidden;
            min-width: 40px;
            display: flex;
            align-items: center;
            min-height: 40px;

            &>div {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }



    &--is-open {
        .flip-icon {
            transform: rotate(180deg);
        }

        .e-time-picker__separator {

            animation-name: seconds;
            animation-iteration-count: infinite;
            animation-duration: 1s;
        }
    }
}