@use '~/public/styles/_mixins.scss' as *;

.e-time-picker {
    cursor: pointer;

    @include animation('seconds') {
        33% {
            opacity: 1;
        }

        66% {
            opacity: 0;
        }

        99% {
            opacity: 1;
        }
    }

    .flip-icon {
        transition: transform 0.3s ease;
    }

    &__separator {
        font-size: 1rem;
        align-self: center;
    }

    .e-label {
        flex: 1 1 100%;
    }

    &__body {
        display: flex;
        justify-content: flex-end;
    }

    &__input {
        max-width: 3.758rem;
        text-align: center;

        &[data-hours] {
            padding-right: calc(var(--e-space-base, 4px) * 4);
        }
            &[data-minutes] {
            padding-left: calc(var(--e-space-base, 4px) * 4);
        }

    }

    &.e-field--label-floating {
        .e-time-picker__body {
            flex: 0;
        }

    }
}