.e-textarea {
	.e-field__control {
		align-items: flex-start;
	}

	&__input {
		align-self: stretch;
		background: transparent;
		border: 0;
		color: inherit;
		min-height: calc(var(--e-field-input-line-height) * 3);
		resize: vertical;
		width: 100%;
	}

	&__prefix,
	&__suffix {
		align-self: flex-start;
		padding-top: 0;
	}
}