.e-textarea {
	.e-field__field {
		align-items: start;
	}

	&__input {
		background: transparent;
		border: 0;
		color: inherit;
		display: block;
		min-height: calc(var(--e-field-input-line-height, 1.25rem) * 3);
		padding-right: calc(var(--e-field-slot-padding-base) * 2);
		resize: vertical;
		width: 100%;
	}
}
