table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}


body,
h1,
p,
ul {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

body {
  color: var(--root-color);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: var(--root-font-size, unset);
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

[disabled] {
  cursor: default;
}
